

.button {
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    border: none ;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: fuchsia;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonRed {
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: red;
    color: black;
    border: none ;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonRed:hover {
    background-color: fuchsia;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttonRed:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}





